
.video_wrap{
    position: absolute;
    z-index: -1;

}
.video_wrap video{

    width: 1905px;
    height: 1900px;
}
.video_wrap1{

    width: 1905px;
    height: 1900px;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 15%, rgba(66, 34, 195, 1) 50%, rgba(0, 0, 0, 1) 85%);
    position: absolute;
    z-index: -1;
    
}